.dashboard {
  flex-grow: 1;
  padding: 10px 0;
}

.card-block {
  background: #fff;
}

.card-icon {
  border-radius: 50%;
  padding: 15px;
}

.icon {
  width: 100% !important;
  height: 100% !important;
  color: #fff;
}

.box {
  margin: 5px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.number {
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0;
}
