.drawer-paper {
  width: 240px;
  max-width: 240px;
  z-index: 10;
  height: 100%;
  position: relative;
}

.menu-link {
  text-decoration: none;
  color: #000;
}

.menu-link-active {
  & > div {
    background-color: #696262;
  }
}

.menu-parent {
  padding-left: 0;
}

.menu-sub {
  padding-left: 20px;
  & .MuiList-root {
    padding-left: 30px;
  }
}
